apiVersion: batch/v1
kind: CronJob
metadata:
  name: blackduck-jira-pipeline
spec:
  suspend: false
  jobTemplate:
    spec:
      template:
        spec:
          containers:
            - name: jira-pipeline
              args:
                - --apply
                - --strict
                - --resolve-bom-names
                - --workers
                - "8"
                - --parent-workers
                - "8"
                - --rollup-workers
                - "8"
                - --config
                - /etc/blackduck-wintermute/jira-rollup-config.json
